/*  your css code here. If applicable */
h1 , h2 ,h2{
	text-align : center;
}

li{
	list-style-type : none;
}
a{
	text-decoration-line : none;
}

video , audio{
	background-color : rgb(255,255,255);
	padding : 20px;
	border : 1px solid black;
	border-radius : 10px;
}

body{
	background-color : rgb(204,204,204);
}